<ion-tabs selectedIndex="2">
  <ion-tab-bar slot="bottom" >
    <ion-tab-button tab="dashboard">
      <ion-icon name="home"></ion-icon>
        <ion-label>홈</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabAlarm">
      <ion-icon name="notifications-outline"></ion-icon>
        <ion-label>알람</ion-label>
        <ion-badge color="dark" slot="end">2</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="logo-ionic"></ion-icon>
        <ion-label>크라우드</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabWorkout">
      <ion-icon name="bicycle"></ion-icon>
        <ion-label>운동정보</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabCard">
      <ion-icon name="card"></ion-icon>
        <ion-label>나의카드</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>